* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    cursor: pointer;
  }
  li {
    width: 5em;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .active {
    color: black;
    text-decoration: underline 2px #2e2f84;
    text-underline-offset: 5px;
  }
  /* navbar */
  /* .navbar {
    background-color: aliceblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  } */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(197, 197, 197, 0.2);
    backdrop-filter: blur(4px);
    padding: 0 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15px;
  }
  
  /* logo  */
  .nav .logo img {
    margin: 0px 70px;
    max-width: 160px;
    align-items: center;
  }
  
  .signUpBtn {
    position: absolute;
    right: 60px;
    top: -27px;
  }
  
  @media screen and (max-width: 768px) {
    .signUpBtn {
      position: absolute;
      right: 0;
      top: -25px;
    }
  }
  
  /* ul  */
  .navMenu {
    /* margin-left: 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-right: 20em;
  }
  
  @media (max-width: 939px) {
    /* ul  */
    .navMenu {
      /* margin-left: 150px; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
    }
  }
  
  .navMenu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: cover;
    top: 70px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    animation: textFadeIn 3s ease;
  }
  .signUpBtn {
    margin: 40px;
    padding: 8px 24px;
    outline: none;
    border-radius: 50px;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .signUpBtn:hover {
    background: linear-gradient(#2e2f84, #652e91);
    color: #ededed;
  }
  li:hover {
    color: black;
    text-decoration: underline 2px #2e2f84;
    text-underline-offset: 5px;
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px) {
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 86px;
    }
    .signUpBtn {
      margin: 40px auto;
      max-width: 50%;
      padding: 0;
      top: 130px;
      left: 0;
    }
  
    .bar {
      background-color: #120f0b;
      width: 20px;
      height: 3px;
      display: block;
      margin: 5px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    /* navMenu */
  
    .navMenu {
      display: none;
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: 260%;
      text-align: start;
      width: 60%;
      transition: 0.7s ease-in-out;
      background-color: #bdbdc8;
      padding: 10px;
      text-decoration: none;
      color: white;
    }
  
    .navMenu.active {
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
    .bts {
      display: none;
    }
  }